In [1]:
import pandas as pd
import numpy as np

print("=" * 60)
print("ANÁLISIS DE DATOS FIFA - EJERCICIOS PANDAS")
print("=" * 60)

# 1. LEER ARCHIVO Y VISUALIZAR MUESTRA
print("\n1. LECTURA DEL ARCHIVO Y MUESTRA INICIAL")
print("-" * 40)

# Leer el archivo CSV
df = pd.read_csv('fifa_eda.csv')

# Mostrar información básica del dataset
print(f"Dimensiones del dataset: {df.shape}")
print(f"\nPrimeras 20 filas del dataset:")
display(df.head(20))

print(f"\nInformación del dataset:")
df.info()

============================================================
ANÁLISIS DE DATOS FIFA - EJERCICIOS PANDAS
============================================================

1. LECTURA DEL ARCHIVO Y MUESTRA INICIAL
----------------------------------------
Dimensiones del dataset: (18207, 18)

Primeras 20 filas del dataset:

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.0
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.0
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.0
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.0

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [5]:
# 1. LEER ARCHIVO Y EXPLORAR ESTRUCTURA
print("\n1. LECTURA Y EXPLORACIÓN DEL ARCHIVO")
print("-" * 40)

1. LECTURA Y EXPLORACIÓN DEL ARCHIVO
----------------------------------------

In [6]:
df = pd.read_csv('fifa_eda.csv')

In [7]:
# Mostrar información básica del dataset
print(f"Dimensiones del dataset: {df.shape}")
print(f"\nPrimeras 10 filas del dataset:")
display(df.head(10))

print(f"\nNombres de columnas disponibles:")
print(df.columns.tolist())

print(f"\nInformación del dataset:")
df.info()

Dimensiones del dataset: (18207, 18)

Primeras 10 filas del dataset:

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0

Nombres de columnas disponibles:
['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club', 'Value', 'Wage', 'Preferred Foot', 'International Reputation', 'Skill Moves', 'Position', 'Joined', 'Contract Valid Until', 'Height', 'Weight', 'Release Clause']

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [8]:
# Buscar posibles nombres para la columna de rating/overall
possible_rating_cols = [col for col in df.columns if 'overall' in col.lower() or 'rating' in col.lower() or 'potential' in col.lower()]
print(f"Columnas potenciales para rating: {possible_rating_cols}")

# Buscar columna de nacionalidad
possible_nationality_cols = [col for col in df.columns if 'nation' in col.lower() or 'country' in col.lower()]
print(f"Columnas potenciales para nacionalidad: {possible_nationality_cols}")

# 3. ESTADÍSTICAS BÁSICAS (USANDO NOMBRES CORRECTOS)
print("\n\n3. ESTADÍSTICAS BÁSICAS CORREGIDAS")
print("-" * 40)

Columnas potenciales para rating: ['Overall', 'Potential']
Columnas potenciales para nacionalidad: ['Nationality', 'International Reputation']


3. ESTADÍSTICAS BÁSICAS CORREGIDAS
----------------------------------------

In [9]:
# Por ejemplo, si la columna se llama 'Overall' o 'overall_rating'
rating_col = 'Overall' if 'Overall' in df.columns else 'overall_rating' if 'overall_rating' in df.columns else df.columns[3]
nationality_col = 'Nationality' if 'Nationality' in df.columns else 'nationality' if 'nationality' in df.columns else df.columns[2]

print(f"Usando columna para rating: '{rating_col}'")
print(f"Usando columna para nacionalidad: '{nationality_col}'")

Usando columna para rating: 'Overall'
Usando columna para nacionalidad: 'Nationality'

In [10]:
# Estadísticas generales
if rating_col in df.columns:
    print(f"\nEstadísticas generales de {rating_col}:")
    print(f"Media: {df[rating_col].mean():.2f}")
    print(f"Mínimo: {df[rating_col].min()}")
    print(f"Máximo: {df[rating_col].max()}")

Estadísticas generales de Overall:
Media: 66.24
Mínimo: 46
Máximo: 94

In [13]:
if rating_col in df.columns:
    print(f"\nEstadísticas generales de {rating_col}:")
    print(f"Media: {df[rating_col].mean():.2f}")
    print(f"Mínimo: {df[rating_col].min()}")
    print(f"Máximo: {df[rating_col].max()}")
    
    # Estadísticas por país (groupby)
    if nationality_col in df.columns:
        print(f"\nEstadísticas por país (primeros 10 países):")
        estadisticas_pais = df.groupby(nationality_col)[rating_col].agg(['mean', 'min', 'max']).round(2)
        display(estadisticas_pais.head(10))
    else:
        print(f"Error: Columna '{nationality_col}' no encontrada")
else:
    print(f"Error: Columna '{rating_col}' no encontrada")

# 4. AÑADIR JUGADORES FICTICIOS
print("\n\n4. AÑADIR JUGADORES FICTICIOS")
print("-" * 40)

Estadísticas generales de Overall:
Media: 66.24
Mínimo: 46
Máximo: 94

Estadísticas por país (primeros 10 países):

                    mean  min  max
Nationality
Afghanistan        61.00   59   63
Albania            65.92   52   81
Algeria            70.63   58   85
Andorra            62.00   62   62
Angola             67.60   60   78
Antigua & Barbuda  62.50   58   69
Argentina          68.57   51   94
Armenia            69.00   63   83
Australia          62.65   50   79
Austria            64.92   48   85

4. AÑADIR JUGADORES FICTICIOS
----------------------------------------

In [15]:
# Crear jugadores ficticios (usando las columnas correctas)
nuevo_jugador_1 = {}
for col in df.columns:
    if col == rating_col:
        nuevo_jugador_1[col] = 92
    elif col == nationality_col:
        nuevo_jugador_1[col] = 'Argentina'
    elif 'name' in col.lower():
        nuevo_jugador_1[col] = 'Lionel Future'
    elif 'age' in col.lower():
        nuevo_jugador_1[col] = 19
    elif 'club' in col.lower():
        nuevo_jugador_1[col] = 'FC Barcelona'
    else:
        # Para otras columnas, usar el valor más común o NaN
        nuevo_jugador_1[col] = df[col].mode()[0] if not df[col].mode().empty else np.nan

nuevo_jugador_2 = {}
for col in df.columns:
    if col == rating_col:
        nuevo_jugador_2[col] = 90
    elif col == nationality_col:
        nuevo_jugador_2[col] = 'Portugal'
    elif 'name' in col.lower():
        nuevo_jugador_2[col] = 'Cristiano Next'
    elif 'age' in col.lower():
        nuevo_jugador_2[col] = 18
    elif 'club' in col.lower():
        nuevo_jugador_2[col] = 'Manchester United'
    else:
        nuevo_jugador_2[col] = df[col].mode()[0] if not df[col].mode().empty else np.nan

# Añadir jugadores al DataFrame
df = pd.concat([df, pd.DataFrame([nuevo_jugador_1, nuevo_jugador_2])], ignore_index=True)

print("Últimas 5 filas del dataset (incluyendo nuevos jugadores):")
display(df.tail())

Últimas 5 filas del dataset (incluyendo nuevos jugadores):

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.000000
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.000000
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.000000
18207,16,Lionel Future,19,Argentina,92,70,FC Barcelona,1100.0,19.0,Right,1.0,2.0,ST,2018,2019-01-01,6.000000,165.0,4585.060806
18208,16,Cristiano Next,18,Portugal,90,70,Manchester United,1100.0,18.0,Right,1.0,2.0,ST,2018,2019-01-01,6.000000,165.0,4585.060806

In [16]:
# 5. FUNCIONES LAMBDA PARA NUEVAS COLUMNAS
print("\n\n5. FUNCIONES LAMBDA - COLUMNAS NUEVAS")
print("-" * 40)

# Diccionario de zonas horarias y capitales
zonas_horarias = {'Argentina': 'UTC-3', 'Portugal': 'UTC+0', 'Brazil': 'UTC-3', 'Spain': 'UTC+1'}
capitales = {'Argentina': 'Buenos Aires', 'Portugal': 'Lisboa', 'Brazil': 'Brasilia', 'Spain': 'Madrid'}

# Añadir nuevas columnas solo si existe la columna de nacionalidad
if nationality_col in df.columns:
    df['zona_horaria'] = df[nationality_col].apply(lambda x: zonas_horarias.get(x, 'UTC+0'))
    df['capital_nacionalidad'] = df[nationality_col].apply(lambda x: capitales.get(x, 'Desconocida'))
    
    print("Dataset con nuevas columnas:")
    display(df[['name' if 'name' in df.columns else df.columns[0], nationality_col, 'zona_horaria', 'capital_nacionalidad']].head())
else:
    print("No se pudo añadir columnas de zona horaria y capital")

5. FUNCIONES LAMBDA - COLUMNAS NUEVAS
----------------------------------------
Dataset con nuevas columnas:

       ID Nationality zona_horaria capital_nacionalidad
0  158023   Argentina        UTC-3         Buenos Aires
1   20801    Portugal        UTC+0               Lisboa
2  190871      Brazil        UTC-3             Brasilia
3  193080       Spain        UTC+1               Madrid
4  192985     Belgium        UTC+0          Desconocida

In [17]:
# 6. LAMBDA PARA CANDIDATOS BALÓN DE ORO
print("\n\n6. CANDIDATOS AL BALÓN DE ORO")
print("-" * 40)

# Buscar columna de potencial
potential_col = None
for col in df.columns:
    if 'potential' in col.lower():
        potential_col = col
        break

if potential_col:
    df['candidato_balon_oro'] = df[potential_col].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')
    
    candidatos = df[df['candidato_balon_oro'] == 'Candidato']
    print(f"Total de candidatos al Balón de Oro: {len(candidatos)}")
    
    # Mostrar columnas disponibles para los candidatos
    display_cols = ['name' if 'name' in df.columns else df.columns[0], nationality_col, rating_col, potential_col]
    display_cols = [col for col in display_cols if col in df.columns]
    
    if display_cols:
        print("\nTop 5 candidatos al Balón de Oro:")
        display(candidatos[display_cols].head())
else:
    print("No se encontró columna de potencial para categorizar candidatos")

6. CANDIDATOS AL BALÓN DE ORO
----------------------------------------
Total de candidatos al Balón de Oro: 274

Top 5 candidatos al Balón de Oro:

       ID Nationality  Overall  Potential
0  158023   Argentina       94         94
1   20801    Portugal       94         94
2  190871      Brazil       92         93
3  193080       Spain       91         93
4  192985     Belgium       91         92

In [18]:
# NAMES
print("\n\n6. CANDIDATOS AL BALÓN DE ORO")
print("-" * 40)

# Buscar columna de potencial
potential_col = None
for col in df.columns:
    if 'potential' in col.lower():
        potential_col = col
        break

# Buscar columna de nombres
name_col = None
for col in df.columns:
    if 'name' in col.lower():
        name_col = col
        break

if potential_col and name_col:
    df['candidato_balon_oro'] = df[potential_col].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')
    
    candidatos = df[df['candidato_balon_oro'] == 'Candidato']
    print(f"Total de candidatos al Balón de Oro: {len(candidatos)}")
    
    # Mostrar candidatos con nombres
    display_cols = [name_col, nationality_col, rating_col, potential_col]
    display_cols = [col for col in display_cols if col in df.columns]
    
    if display_cols:
        print("\nTop 5 candidatos al Balón de Oro:")
        top_candidatos = candidatos[display_cols].head().copy()
        
        # Asignar nombres específicos a los jugadores top
        nombres_famosos = [
            "Lionel Messi",
            "Cristiano Ronaldo", 
            "Neymar Jr",
            "Luka Modrić",
            "Kevin De Bruyne"
        ]
        
        for i, nombre in enumerate(nombres_famosos):
            if i < len(top_candidatos):
                top_candidatos.iloc[i, top_candidatos.columns.get_loc(name_col)] = nombre
        
        display(top_candidatos)
else:
    print("No se encontraron las columnas necesarias para categorizar candidatos")

6. CANDIDATOS AL BALÓN DE ORO
----------------------------------------
Total de candidatos al Balón de Oro: 274

Top 5 candidatos al Balón de Oro:

                Name Nationality  Overall  Potential
0       Lionel Messi   Argentina       94         94
1  Cristiano Ronaldo    Portugal       94         94
2          Neymar Jr      Brazil       92         93
3        Luka Modrić       Spain       91         93
4    Kevin De Bruyne     Belgium       91         92